<fieldset class="neos-span5">
    <table class="neos-table">
        <thead>
        <tr>
            <td>Decider</td>
            <td>A</td>
            <td>B</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <f:if condition="{decisions}">
            <f:then>
                <f:for each="{decisions}" as="singleDecision">
                    <tr>
                        <td>
                            {singleDecision.decider}
                        </td>
                        <f:for each="{singleDecision.decision}" key="decisionKey" as="decisionValue">
                            <td>{decisionValue}</td>
                        </f:for>
                        <td>
                            <f:link.action controller="DecisionController" action="editDecision" arguments="{decision: singleDecision}" class="neos-button neos-button-primary" title="Edit Decision" additionalAttributes="{data-neos-toggle: 'tooltip'}">
                                <i class="fas fa-pencil-alt icon-white"></i>
                            </f:link.action>

                            <f:link.action controller="DecisionController" action="deleteDecision" arguments="{decision: singleDecision}" class="neos-button neos-button-danger" title="Delete Feature" additionalAttributes="{data-neos-toggle: 'tooltip'}">
                                <i class="fas fa-trash-alt icon-white"></i>
                            </f:link.action>
                        </td>
                    </tr>
                </f:for>
            </f:then>
            <f:else>
                <tr>
                    <td colspan="4">No decisions configured.</td>
                </tr>
            </f:else>
        </f:if>
        </tbody>
    </table>
    <div class="neos-pull-right">
        <f:link.action action="addDecisionToFeature" arguments="{feature: feature}" class="neos-button neos-button-primary"><i class="fas fa-plus icon-white"></i> Add Decision</f:link.action>
    </div>
</fieldset>